<div class="jumbotron" style="min-height: 850px; background-image: url(assets/cover3.jpg); background-size: cover; background-position: center">
  <div class="container" style="padding-top: 8rem; padding-bottom: 8rem;">
    <h1 class="customfont1"><span>Restaurant Quality Meals<br>At Affordable Prices</span></h1>
    <!-- <h1 class="text-white text-center customfont1">Restaurant quality meals at affordable prices!</h1> -->
    <p class="text-center"><a class="btn btn-lg btn-success" href="#" role="button">Choose Your Plan</a></p>
  </div>
</div>
<div class="container" style="height: 280px">
  <div class="row pb-7 text-center">
    <div class="col-lg-4">
      <%= image_tag('Order.png', height: 80, alt: "Slice a Dish") %>
      <h4 class = "font-weight-bold"> Choose Your Meals</h4>
      <p class = "small"> Choose from several options </p>
    </div>
    <div class="col-lg-4">
      <%= image_tag('buffet.png', height: 80, alt: "Slice a Dish") %>
      <h4 class = "font-weight-bold"> We order from restaurants</h4>
      <p class = "small"> We order in bulk from restaurants and seperate it for you.</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag('truck.png', height: 80, alt: "Slice a Dish") %>
      <h4 class= "font-weight-bold"> Deliver it right to your door</h4>
      <p class = "small" > Then we deliver right to your order.</p>
    </div>
  </div>
</div>

<div class="jumbotron" style="background-color: lightgray; height: 320px">
  <div class = "row pb-7 text-center">
  <div class="col-sm-4">
    <%= image_tag('Order.png', height: 80, alt: "Slice a Dish") %>
    <h4 class="font-weight-bold">High Quality</h4>
    <p class= "small">Get high quality meals from restaurants you love! </p>
  </div>
  <div class="col-sm-4">
    <%= image_tag('Order.png', height: 80, alt: "Slice a Dish") %>
    <h4 class="font-weight-bold">Variety of Choices</h4>
    <p class= "small"> Several meal options to choose from. New dishes are being added each week </p>
  </div>
  <div class="col-sm-4">
    <%= image_tag('Order.png', height: 80, alt: "Slice a Dish") %>
    <h4 class="font-weight-bold">Low Cost and Free Delivery</h4>
    <p class= "small">Get your weekly meals delivered right to your door for FREE</p>
  </div>

  <div class="container"">
      <div class="container">
        <div class="form-group">
          <p class="text-center"><a class="btn btn-lg btn-success" href="#" role="button">GET STARTED</a></p>
        </div>
      </div>
  </div>

</div>

<div class="header" style="min-height: 160px; margin-bottom: -20px; background-color: #0F346C;">
  <div class="container" style="padding-top: 8rem; padding-bottom: 8rem;">
    <h1 class="text-white text-center">Sign Up Today!</h1>
      <div class="container">
        <div class="form-group">
          <p class="text-center"><a class="btn btn-lg btn-success" href="#" role="button">Choose Your Plan</a></p>
        </div>
      </div>
  </div>
</div>
