<% if user_signed_in? && current_user.plan != 'free' %>

  <div class="header" style="background-image: url(assets/healthy.jpg);">
    <div class="container" style="padding-top: 4rem; padding-bottom: 4rem;">
      <h1 class="text-white text-center">Dishes for the week of <%= @menus.where(end_date: Date.today..1.week.from_now).first.end_date.to_formatted_s(:long_ordinal) %></h1>
    </div>
  </div>

  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">

      <% @menus.where(end_date: Date.today..1.week.from_now).each_with_index do |menu| %>
      <% menu.dishes.each do |dish| %>
          <div class="mx-auto col-12 col-sm-8 col-md-6 col-lg-6 col-xl-4">
            <div class="card mb-4 box-shadow" style="height: auto;">
              <% if dish.image_data.blank? %>
                <%= image_tag('logo.png', alt: "BlueFoodie", class: "card-img-top" ) %>
              <% else %>
                <%= link_to dish do %>
                  <%= image_tag dish.image_url(:original), height: '240', width: 'auto', alt: "BlueFoodie image", class: "card-img-top d-none d-sm-block" %>
                  <%= image_tag dish.image_url(:original), height: 'auto', width: 'auto', alt: "BlueFoodie image", class: "card-img-top d-block d-sm-none" %>
                <% end %>
              <% end %>
              <div class="card-body">
                <h6 class="card-text"><%= dish.title %></h6>
                <small><%= dish.description %></small>
              </div>
            </div>
          </div>
      <% end %>
      <% end %>


      </div>
    </div>
  </div>

<% else %>


<% end %>