<footer class="curated-footer">
  <div class="row" style="margin-top: 48px; margin-bottom: 48px;">
    <div class="col-6 col-md-3 col-lg-3 text-center text-lg-center">
      <ul class="nav flex-column">
        <li class="nav-item">
          <div class="nav-link"><%= link_to "On The Menu", root_path %></div>
        </li>
        <li class="nav-item">
          <div class="nav-link"><%= link_to "Pricing", root_path %></div>
        </li>
        <li class="nav-item">
          <div class="nav-link"><%= link_to "Our Vision", root_path %></div>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-3 text-center text-lg-center">
      <ul class="nav flex-column">
        <li class="nav-item">
          <div class="nav-link"><%= link_to "Partners", root_path %></div>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-3 text-center text-lg-center">
      <ul class="nav flex-column">
        <li class="nav-item">
          <div class="nav-link"><%= link_to "Careers", root_path %></div>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-3 text-center text-lg-center">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
        </li>
      </ul>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-md-6 text-center aligncenter">
      <p class="nav-link">Copyright © 2020 <a href="https://slicadish.com">Slice a Dish</a>. All rights reserved.</p>
    </div>
  </div>
</footer>
