<!-- Fixed navbar (Start) -->
<header style="margin-bottom: 5rem;">
  <nav class="navbar navbar-expand-md fixed-top" style="background-color: #fff;">
  <div class="container">
    <%= link_to root_path do %>
      <%= image_tag('logo.png', height: 60, alt: "Slice a Dish") %>
    <% end %>
<!-- Mobile Responsive navbar button that only appears in mobile screen (Start) -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!-- Mobile Responsive navbar button that only appears in mobile screen (End) -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
<!-- Navbar mid buttons (Start) -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'On The Menu', menu_selections_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Pricing', pricing_path , class: 'nav-link' %>
          </li>
        </ul>
<!-- Navbar mid buttons (End) -->
<!-- Navbar right buttons (Start) -->

        <ul class="nav nav-pills float-right">

        <% if user_signed_in? %>

          <div class="dropdown show">
            <a class="btn btn-white dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome, <%= current_user.first_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to "Settings", edit_user_registration_path, class: 'dropdown-item' %>
              <%= link_to "Support Center", edit_user_registration_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to destroy_user_session_url, :method => :delete, class: "dropdown-item" do %>Sign out<% end %>
            </div>
          </div>

        <% else %>

          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
          </li>

        <% end %>

        </ul>

<!-- Navbar right buttons (End) -->
    </div>
  </div>
  </nav>
</header>
<!-- Fixed navbar (End) -->
